html {
  font-size: 18px;
}

body {
  height: 100vh;
  background-color: #fbfaf5;
  padding: 0;
  margin: 0;
}

cite {
  display: block;
  margin-top: 1rem;
}

img {
  width: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.App {
  max-height: 500px;
  max-width: 320px;
  margin: 0 auto;
}

.App div {
  text-align: center;
}

.btn {
  background-color: #6c63ff;
  border-radius: 100px;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 1rem;
}

.btn:hover {
  background-color: #716cff;
}

.btn:focus {
  outline: none;
}

.joke-container {
  margin-bottom: 1rem;
  position: relative;
}

.joke__content {
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* color: white; */
  font-weight: bold;
  line-height: 1.2;
  position: absolute;
  top: -115px;
  right: 0px;
  width: 250px;
}

.loader {
  /* opacity: 1; */
  transition: opacity 1s linear;
}

.joke {
  animation: fadeIn 1s ease;
}

.fade-out {
  animation: fadeOut 0.5s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
